<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
    <link rel="stylesheet" href="/articles.css">
</head>
<body>
    <div class="container">
        <h1>News Articles</h1>
        <div class="essays">
            <div class="news">
                <a href="https://www.agriculture.com/farmers-looking-for-the-sweet-spot-in-crop-mix-decisions-8414129" >
                <img src="https://www.agriculture.com/thmb/m2ESbWQABv8ArcARPtfcfJWYonw=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/IMG_0751-ab861b0a69f54ba5aaada8c64939f955.jpeg" alt="Article 1">
                <h2>Farmers looking for the sweet spot in crop mix decisions</h2>
                </a>
            </div>
            <div class="news">
                <a href="https://www.theindiaforum.in/sites/default/files/styles/cover_story/public/field/image/2022/06/21/ramkumar-radhakrishnan-wikimedia-1622193304-1622193304.jpeg" >
                <img src="https://www.agriculture.com/thmb/jMtw5dacFX9G0ZYOE2gMoURfePk=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/2931220Corn20Rootworm-2-2000-baf6d7c4537b49fb96f6ba23520ebcd1.jpg" alt="Article 2">
                <h2>Stine Seed and Pattern Ag to collaborate on corn rootworm protection</h2>
                </a>
            </div>
            <div class="news">
                <a href="https://agriculture.com/farmers-are-concerned-about-winter-wheat-emergence-8384791" >
                <img src="https://www.agriculture.com/thmb/kw2xoCRp70B19rSLrvUOntip_S0=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/LL205-2000-ad7482be0b6f43e18dbd1a9ad489f4c9.jpg" alt="Article 3">
                <h2>Farmers are concerned about winter wheat emergence</h2>
                </a>
            </div>
            <div class="news">
                <a href="https://www.agriculture.com/feds-slightly-lower-iowa-corn-yield-estimates-8374385" >
                <img src="https://www.agriculture.com/thmb/y9RLOYb_PLDnL15M-CcvebMwhOY=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Mature-Corn-Field-Windy-Iowa-Letts-October-7e73cc1e62354d24b9967db55803a546.jpeg" alt="Article 4">
                <h2>Feds slightly lower Iowa corn yield estimates</h2>
                </a>
            </div>
            <div class="news">
                <a href="https://www.agriculture.com/crop-harvest-is-virtually-complete-in-iowa-8407275" >
                <img src="https://www.agriculture.com/thmb/0woIUG-Q8Scjdp8f7DuSq-Z3Tog=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Sunrise-Grandview-Iowa-Harvested-Corn-Field-6d34500941ab48ad90525e1ec825ebcb.jpeg" alt="Article 5">
                <h2>Crop harvest is ‘virtually complete’ in Iowa</h2>
                </a>
            </div>
            <div class="news">
                <a href="https://www.agriculture.com/farmers-are-planning-and-prepping-for-2024-8410777" >
                <img src="https://www.agriculture.com/thmb/tWtTYtSdyc0B_OVqeeNnoTvlcFQ=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Fall-tile-project-Iowa-farm-1d7563dc376c4fd8a121a15bd204402d.jpeg" alt="Article 6">
                <h2>Farmers are planning and prepping for 2024</h2>
                </a>
            </div>
            

           
        </div>
    </div>
</body>
</html>
