<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/cropcalender.css">
</head>
<body>
    <div class="one ">
        <table border="1" class="one-border">
            <caption class="header"><u><b>Crop calender of Major crops</b></u></caption>
            <tr>
                <th>States/Uts</th>
                <th>Period</th>
                <th>Kharif </th>
                <th>Rabi</th>
                <th>Summer</th>
                <th>Kharif </th>
                <th>Summer</th>
                <th>Rabi </th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Paddy</td>
                <td>Paddy</td>
                <td>Paddy</td>
                <td>Bajra</td>
                <td>Bajra</td>
                <td>Wheat</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
            </tr>
            <tr>
                <td>Andhra Pradesh</td>
                <td>Sowing</td>
                <td>May-June</td>
                <td>Nov-Dec</td>
                <td>March-April</td>
                <td>Jun(B)-Jul(M)</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Harvesting</td>
                <td>Nov-Dec</td>
                <td>May-June</td>
                <td>July-Aug.</td>
                <td>Aug(B)-Oct(B)</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Assam</td>
                <td>Sowing</td>
                <td>Feb-March</td>
                <td>June-July</td>
                <td>Nov-Dec</td>
                <td></td>
                <td></td>
                <td>Nov(B)-Dec(M)</td>
            </tr>
            <tr>
                <td></td>
                <td>Harvesting</td>
                <td>June-July</td>
                <td>Nov-Dec</td>
                <td>May-June</td>
                <td></td>
                <td></td>
                <td>Mar(B)-Apr(E)</td>
            </tr>
            <tr>
                <td>Bihar                                 </td>
                <td>Sowing</td>
                <td>Jun-Sept.</td>
                <td>Oct-Nov</td>
                <td>Feb.-March</td>
                <td></td>
                <td></td>
                <td>Nov(M)-Dec(E)</td>
            </tr>
            <tr>
                <td></td>
                <td>Harvesting</td>
                <td> </td>
                <td>April-May</td>
                <td>July-Aug.</td>
                <td></td>
                <td></td>
                <td>Mar(M)-Apr(E)</td>
            </tr>
            <tr>
                <td>Goa</td>
                <td>Sowing</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Harvesting</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Gujarat</td>
                <td>Sowing</td>
                <td>June-July</td>
                <td></td>
                <td></td>
                <td>Jun(B)-Jul(E)</td>
                <td>Feb(B)-Feb(E)</td>
                <td>Oct(B)-Nov(E)</td>
            </tr>
            <tr>
                <td></td>
                <td>Harvesting</td>
                <td>Oct-Nov</td>
                <td></td>
                <td></td>
                <td>Sep(B)-Nov(E)</td>
                <td>May(B)-May(E)</td>
                <td>Feb(B)-Mar(E)</td>
            </tr>
            <tr>
                <td>Haryana  </td>
                <td>Sowing</td>
                <td>June-July</td>
                <td></td>
                <td></td>
                <td>Jun(M)-Jul(B)</td>
                <td></td>
                <td>Oct(E)-Dec(B)</td>
            </tr>
            <tr>
                <td></td>
                <td>Harvesting</td>
                <td>Sept-Oct.</td>
                <td></td>
                <td></td>
                <td>Oct(M)-Nov(M)</td>
                <td></td>
                <td>Apr(M)-Apr(E)</td>
            </tr>
            <tr>
                <td>Himachal Pradesh</td>
                <td>Sowing</td>
                <td>May-June</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Oct(B)-Nov(E)</td>
            </tr>
            <tr>
                <td></td>
                <td>Harvesting</td>
                <td>October</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Apr(M)-Jun(E)</td>
            </tr>
            <tr>
                <td>Jammu &amp; Kashmir  </td>
                <td>Sowing</td>
                <td>April-May</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Oct(B)-Dec(E)</td>
            </tr>
            <tr>
                <td></td>
                <td>Harvesting</td>
                <td>Sept-Oct.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>May(B)-May(E)</td>
            </tr>
            <tr>
                <td>Karnataka</td>
                <td>Sowing</td>
                <td>May-June</td>
                <td>Sept-Oct.</td>
                <td>Jan.-Feb.</td>
                <td>Jul(B)-Sep(E)</td>
                <td>Jan(B)-Feb(E)</td>
                <td>Oct(B)-Dec(E)</td>
            </tr>
            <tr>
                <td></td>
                <td>Harvesting</td>
                <td>Sept-Oct.</td>
                <td>Jan.-Feb</td>
                <td>May-June</td>
                <td>Oct(B)-Nov(E)</td>
                <td>Apr(B)-May(E)</td>
                <td>Jan(B)-Feb(E)</td>
            </tr>
            <tr>
                <td>Kerala</td>
                <td>Sowing</td>
                <td>April-May</td>
                <td>Sept-Oct.</td>
                <td>Dec-Jan.</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Harvesting</td>
                <td>Sept-Oct.</td>
                <td>Dec-Jan.</td>
                <td>March-April</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Madhya Pradesh  </td>
                <td>Sowing</td>
                <td>June-July</td>
                <td></td>
                <td></td>
                <td>Jun(M)-Jul(E)</td>
                <td></td>
                <td>Oct(M)-Dec(E)</td>
            </tr>
            <tr>
                <td></td>
                <td>Harvesting</td>
                <td>Oct-Nov</td>
                <td></td>
                <td></td>
                <td>Sep(E)-Dec(M)</td>
                <td></td>
                <td>Feb(M)Apr(E)</td>
            </tr>
            <tr>
                <td>Maharashtra</td>
                <td>Sowing</td>
                <td>June-July</td>
                <td></td>
                <td></td>
                <td>Jun(B)-Jul(E)</td>
                <td></td>
                <td>Oct(B)-Dec(E)</td>
            </tr>
            <tr>
                <td></td>
                <td>Harvesting</td>
                <td>Oct-Nov</td>
                <td></td>
                <td></td>
                <td>Sep(B)-Oct(E)</td>
                <td></td>
                <td>Feb(B)-Mar(E)</td>
            </tr>
            <tr>
                <td>Orissa </td>
                <td>Sowing</td>
                <td>May-June</td>
                <td>June-July</td>
                <td>Dec-Jan.</td>
                <td>Jun-Jul</td>
                <td></td>
                <td>Oct-Nov</td>
            </tr>
            <tr>
                <td></td>
                <td>Harvesting</td>
                <td>Sept-Oct.</td>
                <td>Nov-Dec</td>
                <td>April-May</td>
                <td>Sep-Oct</td>
                <td></td>
                <td>Mar-Apr</td>
            </tr>
            <tr>
                <td>Punjab</td>
                <td>Sowing</td>
                <td>May-Oct.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Oct(B)-Nov(E)</td>
            </tr>
            <tr>
                <td></td>
                <td>Harvesting</td>
                <td> </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Apr(B)-May(E)</td>
            </tr>
            <tr>
                <td>Rajasthan </td>
                <td>Sowing</td>
                <td>June-July</td>
                <td></td>
                <td></td>
                <td>Jun(B)-Jul(E)</td>
                <td></td>
                <td>Nov(B)-Dec(E)</td>
            </tr>
            <tr>
                <td></td>
                <td>Harvesting</td>
                <td>Oct-Nov</td>
                <td></td>
                <td></td>
                <td>Sep(B)-Oct(E)</td>
                <td></td>
                <td>Mar(B)-May(E)</td>
            </tr>
            <tr>
                <td>Uttar Pradesh </td>
                <td>Sowing</td>
                <td>June-July</td>
                <td>Nov-Dec</td>
                <td></td>
                <td>Jun(B)-Jul(E)</td>
                <td></td>
                <td>Oct(B)-Jan(M)</td>
            </tr>
            <tr>
                <td></td>
                <td>Harvesting</td>
                <td>Oct-Nov</td>
                <td>April-May</td>
                <td></td>
                <td>Oct(B)-Nov(M)</td>
                <td></td>
                <td>Apr(B)-Apr(M)</td>
            </tr>
            <tr>
                <td>West Bengal</td>
                <td>Sowing</td>
                <td> </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Nov(B)-Dec(E)</td>
            </tr>
            <tr>
                <td></td>
                <td>Harvesting</td>
                <td> </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Mar(B)-Apr(E)</td>
            </tr>
            <tr>
                <td>All India</td>
                <td>Sowing</td>
                <td>May-Aug</td>
                <td>Dec-Jan.</td>
                <td></td>
                <td>Jun-Jul</td>
                <td>Jan-Feb</td>
                <td>Oct-Dec</td>
            </tr>
            <tr>
                <td></td>
                <td>Harvesting</td>
                <td>Sep-Jan</td>
                <td>April-May</td>
                <td></td>
                <td>Sep-Nov</td>
                <td>Apr-May</td>
                <td>Feb-Jun</td>
            </tr>
        </table>
    </div>
    <div class="two">
        <table border="1" class="two-border">
            <caption class="header"><u><b>Other Crops</b></u></caption>
            <tr>
                <td>State</td>
                <td>Period</td>
                <td>Kharif-Soybean</td>
                <td>Niger(Khaif)</td>
                <td>Niger(Late Kharif)</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Madhya Pradesh</td>
                <td>Sowing</td>
                <td> June(M)- July(M)</td>
                <td>June(B) – July(E)</td>
                <td>Aug(B)- Sept(B)</td>
            </tr>
            <tr>
                <td></td>
                <td>Harvesting</td>
                <td>Sept(E)- October(B)</td>
                <td>Oct(B)- Nov(M)</td>
                <td>Nov(B)-Dec(B)</td>
            </tr>
            <tr>
                <td>Maharashtra</td>
                <td>Sowing</td>
                <td> June(M)- July(M)</td>
                <td>June(B) – July(E)</td>
                <td>Aug(B)- Sept(B)</td>
            </tr>
            <tr>
                <td></td>
                <td>Harvesting</td>
                <td>Sept(E)- Oct(B)</td>
                <td>Oct(B)- Nov(M)</td>
                <td>Nov(B)-Dec(B)</td>
            </tr>
            <tr>
                <td>Rajasthan</td>
                <td>Sowing</td>
                <td> June(E)- July(M)</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Harvesting</td>
                <td>Sept(E)- October(B)</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Karnataka</td>
                <td>Sowing</td>
                <td>June(M) – July(B)</td>
                <td>June(B) – July(E)</td>
                <td>Aug(B)- Sept(B)</td>
            </tr>
            <tr>
                <td></td>
                <td>Harvesting</td>
                <td>Sept(E)- Oct(B)</td>
                <td>Oct(B)- Nov(M)</td>
                <td>Nov(B)-Dec(B)</td>
            </tr>
            <tr>
                <td>Andhra Pradesh</td>
                <td>Sowing</td>
                <td>June(M)- July(M)</td>
                <td>June(B) – July(E)</td>
                <td>Aug(B)- Sept(B)</td>
            </tr>
            <tr>
                <td></td>
                <td>Harvesting</td>
                <td>Sept(E)- Oct(B)</td>
                <td>Oct(B)- Nov(M)</td>
                <td>Nov(B)-Dec(B)</td>
            </tr>
            <tr>
                <td>Chhatisgarh</td>
                <td>Sowing</td>
                <td>June(M)- July(M)</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Harvesting</td>
                <td>Sept(E)- October(B)</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Uttar Pradesh</td>
                <td>Sowing</td>
                <td>June(E)- July(M)</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Harvesting</td>
                <td>Sept(E)- October(B)</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Manipur</td>
                <td>Sowing</td>
                <td>June- July</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Harvesting</td>
                <td>Sept(E)- October(B)</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Meghalaya</td>
                <td>Sowing</td>
                <td>June - July</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Harvesting</td>
                <td>Sept(E)- October(B)</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>West Bengal</td>
                <td>Sowing</td>
                <td>June - July</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Harvesting</td>
                <td></td>
                <td>Sept(E)- October(B)</td>
                <td></td>
            </tr>
            <tr>
                <td>Orissa</td>
                <td>Sowing</td>
                <td></td>
                <td>June(B) – July(E)</td>
                <td>Aug(B)- Sept(B)</td>
            </tr>
            <tr>
                <td></td>
                <td>Harvesting</td>
                <td></td>
                <td>Oct(B)- Nov(M)</td>
                <td>Nov(B)-Dec(B)</td>
            </tr>
            <tr>
                <td>Bihar/ Jharkhand</td>
                <td>Sowing</td>
                <td></td>
                <td>June(B) – July(E)</td>
                <td>Aug(B)- Sept(B)</td>
            </tr>
            <tr>
                <td></td>
                <td>Harvesting</td>
                <td></td>
                <td>Oct(B)- Nov(M)</td>
                <td>Nov(B)-Dec(B)</td>
            </tr>
            <tr>
                <td>Gujarat</td>
                <td>Sowing</td>
                <td></td>
                <td>June(B) – July(E)</td>
                <td>Aug(B)- Sept(B)</td>
            </tr>
            <tr>
                <td></td>
                <td>Harvesting</td>
                <td></td>
                <td>Oct(B)- Nov(M)</td>
                <td>Nov(B)-Dec(B)</td>
            </tr>
        </table>
    </div>
</body>
</html>