<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- icons -->
    <script src="https://kit.fontawesome.com/60d5b069c4.js" crossorigin="anonymous"></script>
    <!-- swiper css -->
    <link rel="stylesheet" href="/swiper-bundle.min.css">
    <link rel="stylesheet" href="/products.css">
    <!-- cart -->
    <script src="https://kit.fontawesome.com/60d5b069c4.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="slide-container swiper">
        <h2 class="title">Seeds and crops</h2>
        <div class="slide-content">
            <div class="card-wrapper swiper-wrapper">
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="/images/seeds/mushroom.jpg" alt="" class="card-img">
                        </div>
                        <div class="card-content">
                            <h2 class="name">Baishnab Mushroom</h2><br><br>
                            <p class="description">Spawn/Seeds 100 Pcs</p>
                            <h5>Rs 190.00</h5>
                            <button class="button" onclick="addtocart(0)">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="/images/seeds/wheat_straw.jpg" alt="" class="card-img">
                        </div>
                        <div class="card-content">
                            <h2 class="name">Wheat Straw Mulch/Wheat Straw</h2><br>
                            <p class="description">for Mushroom - shrubs and General beds Mulch (2 KG)</p>
                            <h5>Rs 597.00</h5>
                            <button class="button" onclick="addtocart(1)">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="/images/seeds/sampada_agritech.jpg" alt="" class="card-img">
                        </div>
                        <div class="card-content">
                            <h2 class="name">Sampada Agritech | Pusa Basmati Paddy Seeds 1718</h2><br>
                            <p class="description">Pure Pusa Basmati Rice Seeds | 1 Kg</p>
                            <h5>Rs 379.00</h5>
                            <button class="button" onclick="addtocart(2)">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="/images/seeds/pusa_basmati.jpg" alt="" class="card-img">
                        </div>
                        <div class="card-content">
                            <h2 class="name">Malowal® Pusa Basmati 1847 paddy seeds variety paddy seeds</h2><br>
                            <p class="description">Spawn/Seeds 100 Pcs</p>
                            <h5>Rs 327.00</h5>
                            <button class="button" onclick="addtocart(3)">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-next swiper-navBtn"></div>
        <div class="swiper-button-prev swiper-navBtn"></div>
        <div class="swiper-pagination"></div>
    </div>

    <!-- Fertilizers and pesticides ------------------------------------------------------------------------------------------------->
   
    <div class="slide-container swiper">
        <h2 class="title">Fertilizers and pesticides</h2>
        <div class="slide-content">
            <div class="card-wrapper swiper-wrapper">
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="/images/fertilizer/vermi_compost.jpg" alt="" class="card-img">
                        </div>
                        <div class="card-content">
                            <h2 class="name">TrustBasket Organic Vermicompost</h2><br><br><br><br>
                            <p class="description">Fertilizer Manure For Plants 5 Kg</p>
                            <h5>Rs 385.00</h5>
                            <button class="button" onclick="addtocart(4)">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="/images/fertilizer/neem_powder.jpg" alt="" class="card-img">
                        </div>
                        <div class="card-content">
                            <h2 class="name">TrustBasket Neem Cake Powder </h2><br><br><br>
                            <p class="description">Organic Fertilizer and Pest Repellent for Plants (450 GMS)</p>
                            <h5>Rs 165.00</h5>
                            <button class="button" onclick="addtocart(5)">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="/images/fertilizer/garuda.jpg" alt="" class="card-img">
                        </div>
                        <div class="card-content">
                            <h2 class="name">Sharp Garuda Backpack Electrical Battery Spray Machine Pump 20L</h2><br><br>
                            <p class="description">Agriculture Farming Fertilizer Pesticide Chemical Sprayer(White)</p>
                            <h5>Rs 4,400.00</h5>
                            <button class="button" onclick="addtocart(6)">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="/images/fertilizer/coska.jpg" alt="" class="card-img">
                        </div>
                        <div class="card-content">
                            <h2 class="name">COSKIRA Air Pressure Sprayer Handheld Garden Sprayer Agricultural Watering</h2><br>
                            <p class="description"> 2L Sprinkler Spray Bottle for Herbicides, Pesticides,</p>
                            <h5>Rs 399.00</h5>
                            <button class="button" onclick="addtocart(7)">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-next swiper-navBtn1"></div>
        <div class="swiper-button-prev swiper-navBtn1"></div>
        <div class="swiper-pagination"></div>
    </div>

    <!-- Equipments ----------------------------------------------------------------------------------------------------------------------------------->
    
    <div class="slide-container swiper">
        <h2 class="title">Equipments</h2>
        <div class="slide-content">
            <div class="card-wrapper swiper-wrapper">
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="/images/tools/bkr.jpg" alt="" class="card-img">
                        </div>
                        <div class="card-content">
                            <h2 class="name">BKR® Power Tiller Inter-Cultivator</h2><br><br><br>
                            <p class="description">4 Stroke 10 HP</p>
                            <h5>Rs 68,990.00</h5>
                            <button class="button" onclick="addtocart(8)">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="/images/tools/Falcon.jpg" alt="" class="card-img">
                        </div>
                        <div class="card-content">
                            <h2 class="name">FALCON FGR-16 Garden Rake 16-Teeth Metal Head</h2><br>
                            <p class="description">for Loosening Soil Gathering Leaf Leveling Land Agriculture Farming Gardening Tool</p>
                            <h5>Rs 290.00</h5>
                            <button class="button" onclick="addtocart(9)">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="/images/tools/kraft.jpg" alt="" class="card-img">
                        </div>
                        <div class="card-content">
                            <h2 class="name">Kraft Seeds by 10CLUB Garden Tool Set - 3 Pcs </h2><br><br>
                            <p class="description">Essential Farming Spade, Trowel, Tiller</p>
                            <h5>Rs 599.00</h5>
                            <button class="button" onclick="addtocart(10)">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="/images/tools/glove.jpg" alt="" class="card-img">
                        </div>
                        <div class="card-content">
                            <h2 class="name">ADBHUTANAND Garden Farming Gloves </h2><br>
                            <p class="description">Fingertips ABS Claws for Pruning, Digging & Planting/p>
                            <h5>Rs 199.00</h5>
                            <button class="button" onclick="addtocart(11)">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-next swiper-navBtn"></div>
        <div class="swiper-button-prev swiper-navBtn"></div>
        <div class="swiper-pagination"></div>
    </div>


    <!---------------------------------------------------------- cart -------------------------------------------------------------------------------------- -->
    <div class="header">
        <p class="logo">FarmOre</p>
        <div class="cart">
            <i class="fa-solid fa-cart-shopping"></i>
            <p id="count">0</p></div>
    </div>
    <div class="container">
        <div id="root"></div>
        <div class="sidebar">
            <div class="head"><p>My Cart</p></div>
            <div id="cartItem">Your cart is empty</div>
            <div class="foot">
                <h3>Total</h3>
                <h2 id="total">&#x20B9; 0.00</h2>
            </div>
            <!-- <button class="buy">Buy now</button> -->
            <a href="/buynow" class="buy">Buy now</a>
        </div>
    </div>
    <div class="brands">
        <h4>Explore our website on..</h4><br>
        <i class="fa-brands fa-facebook" ></i>&nbsp;&nbsp;
        <i class="fa-brands fa-instagram"></i>&nbsp;&nbsp;
        <i class="fa-brands fa-amazon"></i>&nbsp;&nbsp;
    </div>
</body>


<!-- swiper js -->
<script src="/js/swiper-bundle.min.js"></script>

<!-- JavaScript -->
<script src="/js/script1.js"></script>
</html>